<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="../javascripts/bootstrap.min.css">
    <script src="../javascripts/jquery.min.js"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
    <style>
        body {
            margin: 0px auto;
            padding: 0px;
        }

        .row {
            margin-top: 40px;
            padding-left: 150px;
            padding-right: 150px;
        }
        .col-sm-12{
            border: 1px solid #f8f8f8;
            margin-top: 30px;
        }
    </style>
</head>
<body>
<div class="row">
    <div class="col-sm-12">
        <h3 style="font-weight: bold;color: black">Về chúng tôi</h3>
        <h4 style="font-weight: bold;color: black">Tất cả các phiên đấu giá bắt đầu từ 10.000 VNĐ</h4>
        <p style="text-align: justify">
            Tại LTS Aution, chúng tôi cung cấp nhiều loại mặt hàng mà chúng tôi đưa ra đấu giá bắt đầu chỉ với 10.000 VNĐ .
            Bạn quyết định mức giá mà bạn sẵn sàng trả bằng cách đặt giá thầu với người dùng khác để tìm được ưu đãi tốt nhất.
            Đôi khi bạn sẽ trả giá cao hơn, nhưng nếu bạn kiên trì, bạn sẽ tìm thấy những ưu đãi tuyệt vời mà bạn sẽ không tìm thấy ở nơi nào khác ngoài LTS Aution!
        </p>
        <h4 style="font-weight: bold;color: black">Dịch vụ khách hàng là đặc sản của chúng tôi!</h4>
        <p style="text-align: justify">
            Tại LTS Aution, chúng tôi tin rằng dịch vụ khách hàng là một trong những khía cạnh quan trọng nhất trong thị trường trực tuyến cạnh tranh ngày nay.
            Làm cho khách hàng của chúng tôi cần trước, trong và sau khi mua hàng một ưu tiên. Nhiệm vụ của chúng tôi là đảm bảo rằng bạn luôn cảm thấy như bạn đang ở trong tay tốt khi mua sắm với chúng tôi.
        </p>
        <h4 style="font-weight: bold;color: black">Mua sắm an toàn dễ dàng</h4>
        <p style="text-align: justify">
            Tại LTS Aution, chúng tôi ưu tiên an toàn cho các chi tiết cá nhân của bạn.
            Chúng tôi đã áp dụng các kết nối SSL được mã hóa cho tất cả các khoản thanh toán bằng thẻ tín dụng,
            vì vậy bạn có thể yên tâm rằng bạn được bảo vệ trước mọi gian lận hoặc trộm cắp.
            Ngoài ra, tất cả thông tin cá nhân của bạn được lưu trữ an toàn trong cơ sở dữ liệu khách hàng được bảo mật, không thể truy cập được đối với bất kỳ bên trái phép nào.
            Mua sắm với LTS Aution và giao diện đơn giản của nó, là một trải nghiệm an toàn, vui vẻ và đơn giản. Chúng tôi bỏ qua tất cả các chức năng không cần thiết làm cho nó trở
            thành một trải nghiệm không đau đớn để đặt giá thầu và mua tất cả các mặt hàng yêu thích của bạn.
        </p>
    </div>
</div>
</body>
</html>