<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="../javascripts/bootstrap.min.css">
    <script src="../javascripts/jquery.min.js"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
    <style>
        body {
            margin: 0px auto;
            padding: 0px;
        }

        .row {
            margin-top: 40px;
            padding-left: 150px;
            padding-right: 150px;
        }
        .col-sm-12{
            border: 1px solid #f8f8f8;
            margin-top: 30px;
        }
    </style>
</head>
<body>
<div class="row">
    <div class="col-sm-12">
        <h3 style="font-weight: bold;color: black">Thông tin giao hàng</h3>
        <p style="text-align: justify">
            Giao hàng được bắt đầu ngay khi chúng tôi nhận được đơn đặt hàng của bạn.
            Phí của một lần giao là 50.000 VNĐ, không tính theo vị trí gần xa.
            Thời gian giao hàng dự kiến ​​là 10 - 15 ngày làm việc.
            Sau khi chúng tôi giao hàng, bạn sẽ nhận được số theo dõi qua email, vì vậy bạn có thể theo dõi tiến trình giao hàng.
        </p>
        <img src="../images/ninja.jpg" width="100%" style="margin-top: 10px">
        <p style="text-align: justify" style="margin-top: 10px">
            Bạn cũng có thể theo dõi tiến trình trong hồ sơ người dùng của bạn trên trang web của chúng tôi.
            Nếu bạn có bất kỳ câu hỏi nào khác về quy trình giao hàng và hoặc theo dõi đơn đặt hàng của bạn,
            vui lòng liên hệ với đường dây hỗ trợ khách hàng của chúng tôi theo số 0984574747.
        </p>
    </div>
</div>
</body>
</html>