<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="../javascripts/bootstrap.min.css">
    <script src="../javascripts/jquery.min.js"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
    <style type="text/css">
        body{
            margin: 0px auto;
            padding: 0px;
            margin-left: 10px;
        }
        #head_1 {
            width: 100%;
            height: 55px;
            background-color: #5bc0de;
            margin-left: 10px;
        }

        #head_1 li {
            display: inline-block;
            float: right;
            margin-right: 20px;
            margin-top: 10px;
            color: white;
        }
        #head_1 li a {
            color: white;
            font-weight: bold;
            display: inline;
        }
        #head_2{
            width: 100%;
            height: 100px;
            margin-top: 50px;
            background-color: white;
        }
        nav {
            width: 100%;
            height: 30px;
            margin-top: 45px;
        }
        .container-fluid{
            background-color: #00B7FF;
        }


        #na ul li a{
            font-size: 17px;
            color: white;
        }
        #na ul li a:hover{
            color:black;
        }
        #f_search{
            margin-left: 200px;
        }
        #section_1 {
            width: 100%;
            height: auto;
        }

        aside {
            width: 30%;
            height: auto;
            float: left;
            margin-top: 20px;
        }
        aside a {
            font-size: 15px;
            color: black;
        }
        aside a:hover{
            font-size: 17px;
            color: black;
        }

        article {
            width: 68%;
            height: auto;
            float: right;
            margin-top: 20px;
        }
        .carousel-inner{
            width: 100%;
            height: 400px;
        }
        #section_2{
            width: 100%;
            margin-top: 5px;
            height: auto;
        }
        .col-sm-4{
            margin-top: 10px;
            overflow: hidden;
         }
        .col-sm-4 img{
            transition: transform .5s ease;
        }
        .col-sm-4:hover img{
            margin-top: 10px;
            transform: scale(1.5);
        }
        footer{
            margin-top: 10px;
            width: 100%;
            height: 200px;
            background-color: #204d74;
            float: left;
        }

    </style>
</head>
<body>
<header id="head_1" class="navbar-fixed-top">
    <marquee width="70%"><p style="font-size: 17px;color: white;margin-top: 12px;font-family:'Comic Sans MS'">LTS Aution Mang Đến Sự An Tâm Tuyệt Đối</p></marquee>
    <img src="../images/flag.png" width="35px" height="35px" style="float: left;margin-top: 7px;margin-left: 10px">
    <li style="margin-top: 15px;"><a href="#" data-toggle="modal" data-target="#Modal_DN"><img src="../images/lock.png" width="20px" height="20px">&nbsp;Đăng
            Nhập</a></li>
    <li style="margin-top: 15px;"><a href="#" data-toggle="modal" data-target="#Modal_DK"><img src="../images/star.png" width="20px" height="20px">&nbsp;Đăng
            Ký</a></li>
    <li><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Modal_DN">Đăng Bài</button></li>
    <div class="modal fade" id="Modal_DN" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" style="background-color: #f8f8f8">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="color: gray">Đăng Nhập</h4>
                </div>
                <div class="modal-body">
                    <form action="">
                        <div class="form-group">
                            <label for="ten">Tên Đăng Nhập</label>
                            <input type="text" class="form-control" id="ten">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Mật Khẩu</label>
                            <input type="password" class="form-control" id="pwd">
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"> Nhớ mật khẩu</label>
                        </div>
                        <button type="submit" class="btn btn-primary" style="width: 100%" >Đăng Nhập</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="Modal_DK" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" style="background-color: #f8f8f8">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="color: gray">Đăng Ký Tài Khoản Mới</h4>
                </div>
                <div class="modal-body">
                    <form action="">
                        <div class="form-group">
                            <label for="ten">Tên Đăng Nhập</label>
                            <input type="text" class="form-control" id="ten" placeholder="Nhập tên truy cập">
                        </div>
                        <div class="form-group">
                            <label for="mail">Email</label>
                            <input type="email" class="form-control" id="mail" placeholder="Nhập mail">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Mật Khẩu</label>
                            <input type="password" class="form-control" id="pwd" placeholder="Nhập vào mật khẩu">
                        </div>
                        <div class="form-group">
                            <label for="re_pwd">Xác Nhận Mật Khẩu</label>
                            <input type="password" class="form-control" id="re_pwd" placeholder="Nhập lại mật khẩu">
                        </div>
                        <div class="form-group">
                            <label for="diachi">Địa Chỉ</label>
                            <input type="text" class="form-control" id="diachi" placeholder="Nhập vào địa chỉ">
                        </div>
                        <button type="submit" class="btn btn-primary" style="width: 100%">Đăng Ký</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</header>
<header id="head_2">
    <img src="../images/logo.png" width="100%" height="150px">
</header>
<nav id="na">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="#">Trang Chủ</a></li>
                <li><a href="#">Giới Thiệu</a></li>
                <li><a href="#">Tin Tức</a></li>
                <li><a href="#">Văn Bản Pháp Quy</a></li>
                <li><a href="#">Thành Viên</a></li>
                <li><a href="#">Liên Hệ</a></li>
            </ul>
            <form class="navbar-form navbar-left" id="f_search" action="/action_page.php">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Hãy nhập gì đó ... ">
                </div>
                <button type="submit" class="btn btn-danger">Tìm Kiếm</button>
            </form>
        </div>
    </nav>
</nav>
<section id="section_1">
    <aside>
            <div class="panel panel-default">
                <div class="panel-body"><a href="#">Thiết bị thông minh</a></div>
                <div class="panel-body"><a href="#">Thời trang cao cấp</a></div>
                <div class="panel-body"><a href="#">Điện lạnh, máy gia dụng</a></div>
                <div class="panel-body"><a href="#">Máy tính, laptop</a></div>
            </div>
    </aside>
    <article>
        <div id="myslider" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myslider" data-slide-to="0" class="active"></li>
            <li data-target="#myslider" data-slide-to="1"></li>
            <li data-target="#myslider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="images/a.jpg" width="100%">
            </div>
            <div class="item">
                <img src="images/b.jpg" width="100%">
            </div>
            <div class="item">
                <img src="images/c.png" width="100%">
            </div>
        </div>
        <a class="left carousel-control" href="#myslider" role="button"
           data-slide="prev"> <i class="fa fa-chevron-left"
                                 aria-hidden="true"></i>
        </a> <a class="right carousel-control" href="#myslider" role="button"
                data-slide="next"> <i class="fa fa-chevron-right"
                                      aria-hidden="true"></i>
        </a>
        </div>
    </article>
</section>
<section id="section_2">
    <div class="row">
        <div class="col-sm-4">
            <img src="../images/a.jpg" width="100%" class="img-rounded">
        </div>
        <div class="col-sm-4">
            <img src="../images/b.jpg" width="100%" class="img-rounded">
        </div>
        <div class="col-sm-4">
            <img src="../images/c.png" width="100%" class="img-rounded">
        </div>
    </div>
</section>
<footer>
    <div class="container" style="border-bottom: 2px solid white">
            <div class="col-md-4">
                <p style="font-size: 15px;color: white;margin-top: 10px"><img src="../images/hear.png" width="20px" height="20px"> &emsp; Địa chỉ: 15 Nguyễn Văn Bảo p5 Gò Vấp</p>
                <p style="font-size: 15px;color: white;margin-top: 10px"><img src="../images/call.png" width="20px" height="20px"> &emsp; Điện thoại: 098457474</p>
                <p style="font-size: 15px;color: white;margin-top: 10px"><img src="../images/mail.png" width="20px" height="20px"> &emsp; Mail: ltsaution@gmail.com</p>
                <p style="font-size: 15px;color: white;margin-top: 10px"><img src="../images/time.png" width="20px" height="20px"> &emsp; Thời Gian : 8:00 đến 21:00 từ thứ 2 đến thứ 7</p>
            </div>
            <div class="col-md-4">
                <h3 style="color: white">Liên Kết Nhanh</h3>
                <a href="#" style="font-size: 15px;color: white;margin-top: 10px"><img src="../images/arrow.png" width="20px" height="20px">&nbsp;Giới Thiệu</a> <br />
                <a href="#" style="font-size: 15px;color: white;margin-top: 10px"><img src="../images/arrow.png" width="20px" height="20px">&nbsp;Dịch Vụ</a> <br />
                <a href="#" style="font-size: 15px;color: white;margin-top: 10px"><img src="../images/arrow.png" width="20px" height="20px">&nbsp;Tin Tức</a>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    <h6 style="color: #8a6d3b;text-align: center">2019. Sàn đấu giá trực tuyến thuộc Sở Công thương Thành phố Hồ Chí Minh</h6>
</footer>
</body>
</html>
