<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="../javascripts/bootstrap.min.css">
    <script src="../javascripts/jquery.min.js"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
    <style>
        body{
            margin: 0px auto;
            padding: 0px;
        }
        .row{
            padding: 60px;
        }
        .col-sm-7{
            border: 1px solid #f8f8f8;
        }
        #garbage{
            outline: none;
            border: none;
            background-color: white;
        }
        #garbage:hover{
            background-color: #f8f8f8;
        }
        .col-sm-5{
            border: 1px solid #f8f8f8;
            float: right;
        }
    </style>
</head>
<body>
<div class="row">
    <div class="col-sm-7">
        <h3 style="font-weight: bold">Giỏ Hàng</h3>
        <p style="color: gray;font-size: 15px">Giỏ hàng của bạn - Đang chờ thanh toán</p>
        <table class="table table-hover" id="myTab">
            <thead>
            <tr>
                <th>Mục</th>
                <th>Tên Sản Phẩm</th>
                <th>Giá</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><img src="../images/1f.jpg" width="50px" height="50px"></td>
                <td>Bộ 10 con Diode 1N4007 1A 1000V (DIP)</td>
                <td>30.000 VNĐ</td>
                <td style="float: right;" class="row1"><button type="button" id="garbage" onclick="delRow()"><img src="../images/garbage.png" width="15px" height="15px"></button></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-sm-5" style="height: 250px;border-radius: 5px">
        <h3 style="color: black">Thông tin thanh toán</h3>
        <table style="width: 250px" id="myTab2">
            <tr>
                <td><h5 style="color: black">Tổng số mục</h5></td>
                <td style="float: right;color: #00B7FF"><h4>30.000 VNĐ</h4></td>
            </tr>
            <tr>
                <td><h5 style="color: black">Giao hàng</h5></td>
                <td style="float: right;color: #00B7FF"><h4>50.000 VNĐ</h4></td>
            </tr>
            <tr>
                <td><h5 style="color: black">Tổng tiền</h5></td>
                <td style="float: right;color: #00B7FF"><h4>80.000 VNĐ</h4></td>
            </tr>
            <tr>
                <td><button type="button" class="btn btn-info" onclick="location.href='CheckOut2'">Thanh Toán Ngay</button></td>
            </tr>
        </table>
    </div>
</div>
</body>

<script>
    function delRow() {
        document.getElementById("myTab").deleteRow(1);
    }
</script>
</html>