<head>
    <link rel='stylesheet' href="/stylesheets/style.css">
    <link rel="stylesheet" href="/javascripts/bootstrap.min.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <style type="text/css">
        body {
            margin: 50px auto;
            padding: 0px;
            margin-left: 10px;
        }
    </style>
</head>
<div class="row">
    <div class="col-sm-8 col-sm-push-2">
        <h1 style="text-align: center;color: black">ĐĂNG BÀI ĐẤU GIÁ CỦA BẠN</h1>
        <form action="/Post" method="post  " role="form" enctype="multipart/form-data">
            <div class="form-group">
                <label for="tensp">Tên Sản Phẩm</label>
                <input type="text" class="form-control" onblur="kiemtraTenSP()" required="required" id="" name="tensp">
                <span id="errTenSP"></span>
            </div>
            <div class="form-group">
                <label for="loaisp">Loại Sản Phẩm</label>
                <select class="form-control" id="loaisp" name="selectLoai" style="color: #1b6d85">
                    <%data1.forEach(function (item) {%>
                        <option style="color: black;color: #122b40;" name="loaisp"><%=item.tenLoai%></option>
                    <%})%>
                </select>
            </div>
            <div class="form-group">
                <label for="giasp">Giá Sản Phẩm</label>
                <input type="text" class="form-control" onblur="kiemtraGiaSanPham()" id="giasp" required="required" name="giasp">
                <span id="errGia"><i>/* Giá sản phẩm là số nguyên chẵn */</i></span>
            </div>
            <div class="form-group">
                <label for="uploadFile">Chọn Ảnh</label>
                <input type="file" class="form-control" id="uploadFile" required="required" name="uploadFile">
            </div>
            <div class="form-group">
                <label for="mota" for="address">Mô Tả Sản Phẩm</label>
                <textarea class="md-textarea form-control" rows="3" required="required" id="mota" name="mota" onblur="kiemtraMoTa()"></textarea>
                <span id="errMota"></span>
            </div>
            <button type="submit" class="btn btn-primary" style="width: 15%;margin-left: 50%">Đăng Bài
            </button>
        </form>
    </div>
</div>
<script>
    function kiemtraTenSP(){
        var tensp = document.getElementById("tensp").value.trim();
        var re = /^[A-Za-z0-9\s]/;
        var err = document.getElementById("errTenSP");
        if(!re.test(tensp)){
            err.innerHTML = "<br /> <i>Tên sản phẩm không hợp lệ </i>";
            err.style.color="red";
            return false;
        }else {
            err.innerHTML = "";
            err.style.color="white";
            return true;
        }
    }
    function kiemtraGiaSanPham(){
        var giasp = document.getElementById("giasp").value.trim();
        var re = /^[1-9]\d{3,5}$/;
        var err = document.getElementById("errGia");
        if(!re.test(giasp)){
            err.innerHTML = "<br /> <i>Giá sản phẩm không hợp lệ</i>";
            err.style.color="red";
            return false;
        }else {
            err.innerHTML = "";
            err.style.color="white";
            return true;
        }
    }
    function kiemtraMoTa(){
        var re = /^[A-Za-z0-9\s]\d*/;
        var mota = document.getElementById("mota").value.trim();
        var err = document.getElementById("errMota");
        if (!re.test(mota))
        {
            err.innerHTML = "<br /> <i>Mô tả không hợp lệ</i>";
            err.style.color="red";
            return false;
        }
        else
        {
            err.innerText = "";
            return true;
        }
    }
</script>
