<head>
    <link rel='stylesheet' href="/stylesheets/style.css">
    <link rel="stylesheet" href="/javascripts/bootstrap.min.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <style type="text/css">
        body {
            margin: 50px auto;
            padding: 0px;
            margin-left: 10px;
        }
        #backgr{
            background-color: #5bc0de;
            height: 180px;
            text-align: center;
            margin-top: 50px;
        }
    </style>
</head>
<div class="row">
    <div class="col-sm-8 col-sm-push-2" id="backgr">

        <h3 style="margin-top: 20px;color: white">Cảm ơn bạn đã đăng bài <br />Bài viết của bạn đã được đăng và đang trong tình trạng chờ phê duyệt</h3>
        <!--<button type="submit" class="btn btn-primary" onclick="location.href='./Home.ejs'" style="margin-top: 20px">Về Trang Chủ-->
        <!--</button>-->
        <a href="Home.ejs"><h4 style="color: black;margin-top: 20px">&lsaquo;&lsaquo;Về Trang Chủ&rsaquo;&rsaquo;</h4></a>
    </div>
</div>
