<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="../javascripts/bootstrap.min.css">
    <script src="../javascripts/jquery.min.js"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
    <style>
        body {
            margin: 0px auto;
            padding: 0px;
        }

        .row {
            margin-top: 40px;
            padding-left: 150px;
            padding-right: 150px;
        }
        .col-sm-12{
            border: 1px solid #f8f8f8;
            margin-top: 30px;
        }
        #myTab3 tr td{
            padding-top: 10px;
        }
    </style>
</head>
<body>
<div class="row">
    <div class="col-sm-12">
        <h4 style="font-weight: bold;color: black">Tùy chọn thanh toán được chọn</h4>
        <p style="font-size: 15px">Ngân Hàng <span style="font-weight: bold">Vietcombank</span></p>
        <h4 style="color: black">Để nhận được các vật phẩm bạn giành được, vui lòng chuyển tiền vào số tài khoản của Ngân hàng: 110002635082</h4>
    </div>
    <div class="col-sm-12">
        <table width="100%" id="myTab3">
            <tr>
                <td style="font-size: 15px;color: black">Võ Minh Thiện</td>
                <td style="font-size: 15px;color: black">Công ty TNHH LTS Aution</td>
            </tr>
            <tr>
                <td style="font-size: 15px;color: black">0706391667</td>
                <td style="font-size: 15px;color: black">0939044137</td>
            </tr>
            <tr>
                <td style="font-size: 15px;color: black">vominhthien09011998@gmail.com</td>
                <td style="font-size: 15px;color: black">ltsaution@gmail.com</td>
            </tr>
            <tr>
                <td style="font-size: 15px;color: black">Gò Vấp HCM</td>
                <td style="font-size: 15px;color: black">15 Nguyễn Văn Bảo p5 Gò Vấp</td>
            </tr>
            <tr>
                <td style="font-size: 15px;color: red">Hạn thanh toán trước 3 ngày kể từ ngày đấu giá</td>
            </tr>
        </table>
    </div>
    <div class="col-sm-12">
        <table class="table table-hover" id="myTab">
            <thead>
            <tr>
                <th>Mục</th>
                <th>Tên Sản Phẩm</th>
                <th>Giá</th>
                <th>Toàn bộ</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><img src="../images/a.jpg" width="50px" height="50px"></td>
                <td>Mainboard ASUS ROG STRIX Z390-I GAMING</td>
                <td>80.000 VNĐ</td>
                <td>80.000 VNĐ</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="form-group" style="text-align: center">
        <div class="col-sm-offset-2 col-sm-10" style="margin-top: 30px;" >
            <button onclick="alert('Thanh toán thành công!')" type="submit" class="btn btn-info" style="font-weight: bold">Thanh Toán</button>
        </div>
    </div>
</div>
</body>
</html>