<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="../javascripts/bootstrap.min.css">
    <script src="../javascripts/jquery.min.js"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
    <style>
        body {
            margin: 0px auto;
            padding: 0px;
        }

        .row {
            margin-top: 40px;
            padding-left: 150px;
            padding-right: 150px;
        }
        .col-sm-12{
            border: 1px solid #f8f8f8;
            margin-top: 30px;
        }
    </style>
</head>
<body>
<div class="row">
    <div class="col-sm-12">
        <h3 style="font-weight: bold;color: black">Chính sách đổi trả</h3>
        <p style="text-align: justify">
            Chúng tôi cung cấp chính sách hoàn trả 30 ngày sau khi chúng tôi nhận được đơn đặt hàng của bạn.
            Chính sách hoàn trả 30 ngày của chúng tôi áp dụng cho tất cả các sản phẩm để bạn có thể mua hàng
            một cách an toàn, vv Lưu ý: Tất cả các sản phẩm phải được trả lại trong cùng điều kiện như đã nhận.
            Bạn sẽ nhận được một khoản hoàn lại đầy đủ, trừ phí vận chuyển trở lại và phí dịch vụ 10%.
        </p>
    </div>
</div>
</body>
</html>