<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="../javascripts/bootstrap.min.css">
    <script src="../javascripts/jquery.min.js"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
    <style>
        body {
            margin: 0px auto;
            padding: 0px;
        }

        .row {
            margin-top: 40px;
            padding-left: 150px;
            padding-right: 150px;
        }
        .col-sm-12{
            border: 1px solid #f8f8f8;
            margin-top: 30px;
        }
    </style>
</head>
<body>
<div class="row">
    <div class="col-sm-12">
        <h3 style="font-weight: bold;color: black">Chính sách bảo mật</h3>
        <p style="text-align: justify;padding-top: 40px">
            Chúng tôi rất coi trọng quyền riêng tư của khách hàng và chúng tôi sẽ chỉ thu thập và sử dụng thông tin cá nhân của bạn như được nêu dưới đây.
            Bảo vệ dữ liệu là vấn đề của niềm tin và sự riêng tư của bạn rất quan trọng đối với chúng tôi. Do đó, chúng tôi sẽ chỉ sử dụng tên của bạn và thông tin khác, liên quan đến bạn theo cách được quy định trong Chính sách bảo mật này. Chúng tôi sẽ chỉ thu thập thông tin khi cần
            thiết để chúng tôi làm như vậy và chúng tôi sẽ chỉ thu thập thông tin nếu có liên quan đến giao dịch của chúng tôi với bạn.
            Chúng tôi sẽ chỉ giữ thông tin của bạn miễn là chúng tôi phải tuân thủ theo pháp luật hoặc có liên quan cho các mục đích mà thông tin đó được thu thập.
            Bạn có thể truy cập Trang web và duyệt mà không cần phải cung cấp thông tin cá nhân. Trong khi bạn truy cập Trang web, bạn vẫn ẩn danh và không bao giờ chúng tôi có thể nhận dạng bạn trừ khi bạn có tài khoản trên Trang web và đăng nhập bằng tên người dùng và mật khẩu của bạn.
            Nếu bạn có bất kỳ ý kiến ​​hoặc đề xuất nào, chúng tôi rất vui lòng nhận được chúng theo địa chỉ của chúng tôi hoặc bằng cách gửi email cho chúng tôi tại ltsaution@gmail.com
            Tuyên bố quyền riêng tư của chúng tôi tuân thủ đầy đủ Đạo luật bảo mật 1988 và thể hiện thông lệ tốt nhất của ngành.<br />

            Thu thập thông tin cá nhân
            LTS Aution không bán, chia sẻ hoặc trao đổi thông tin cá nhân của khách hàng được thu thập trực tuyến với bên thứ ba.<br />

            Thông tin cá nhân được thu thập trực tuyến sẽ chỉ được tiết lộ trong nhóm công ty của chúng tôi và các công ty chị em chỉ để sử dụng nội bộ.<br />

            Khi bạn tạo một tài khoản LTSAution thông tin cá nhân chúng tôi thu thập có thể bao gồm bạn:<br />
            Tên Đăng Nhập
            Địa chỉ Email
            Số điện thoại
            Địa chỉ giao hàng <br />

            Thông tin cá nhân chúng tôi thu thập từ bạn sẽ được sử dụng trong một số hoặc tất cả các cách sau:<br />
            Để giao sản phẩm bạn đã mua từ LTSAution<br />
            Để cập nhật cho bạn về việc giao sản phẩm và cho mục đích hỗ trợ khách hàng<br />
            Cung cấp cho bạn thông tin sản phẩm có liên quan<br />
            Để xử lý đơn đặt hàng của bạn và cung cấp cho bạn các dịch vụ và thông tin được cung cấp qua trang web của chúng tôi và bạn yêu cầu<br />
            Hơn nữa, chúng tôi sẽ sử dụng thông tin bạn cung cấp để quản trị tài khoản của bạn với chúng tôi; xác minh và thực hiện các giao dịch tài chính liên quan đến các khoản thanh toán bạn thực hiện trực tuyến; kiểm toán việc tải xuống dữ liệu từ trang web của chúng tôi; cải thiện bố cục và /
            hoặc nội dung của các trang trên trang web của chúng tôi và tùy chỉnh chúng cho người dùng; xác định khách truy cập trên trang web của chúng tôi; thực hiện nghiên cứu về nhân khẩu học của người dùng của chúng tôi; gửi cho bạn thông tin mà chúng tôi nghĩ rằng bạn có thể thấy hữu ích hoặc bạn đã yêu cầu từ chúng tôi, bao gồm thông tin về các sản phẩm và dịch vụ của chúng tôi, miễn là bạn cho biết rằng bạn không phản đối việc liên hệ với những mục đích này.
            Chúng tôi có thể chuyển tên và địa chỉ của bạn cho bên thứ ba để giao sản phẩm cho bạn (ví dụ: chuyển phát nhanh hoặc nhà cung cấp của chúng tôi).<br />

            Khi bạn đăng ký làm người dùng trên trang web LTSAution, chúng tôi cũng sẽ sử dụng thông tin cá nhân của bạn để gửi cho bạn tài liệu tiếp thị và / hoặc quảng cáo theo thời gian. Nếu có liên quan, chúng tôi sẽ cho phép các công ty chị em của chúng tôi gửi tài liệu tiếp thị có liên quan đến bạn. Bạn có thể hủy đăng ký thông tin tiếp thị bất cứ lúc nào bằng cách sử dụng chức năng hủy đăng ký trong tài liệu tiếp thị điện tử.<br />

            Các khoản thanh toán mà bạn thực hiện thông qua Trang web sẽ được xử lý bởi đại lý của chúng tôi LTSAution Limited. Bạn chỉ phải gửi cho chúng tôi hoặc Đại lý của chúng tôi hoặc thông tin Trang web chính xác và không gây hiểu lầm và bạn phải cập nhật thông tin và thông báo cho chúng tôi về các thay đổi.<br />

            Chi tiết đơn hàng thực tế của bạn có thể được lưu trữ với chúng tôi nhưng vì lý do bảo mật không thể được chúng tôi lấy trực tiếp. Tuy nhiên, bạn có thể truy cập thông tin này bằng cách đăng nhập vào tài khoản của bạn trên Trang web. Tại đây, bạn có thể xem chi tiết các đơn đặt hàng đã hoàn thành, những đơn hàng đang mở và những đơn hàng sắp được gửi đi và quản lý chi tiết địa chỉ, chi tiết ngân hàng và bất kỳ bản tin nào bạn có thể đã đăng ký. Bạn cam kết xử lý dữ<br />
            liệu truy cập cá nhân một cách bảo mật và không cung cấp cho các bên thứ ba trái phép. Chúng tôi không thể chịu bất kỳ trách nhiệm pháp lý nào đối với việc sử dụng sai mật khẩu trừ khi việc sử dụng sai này là lỗi của chúng tôi.<br />


            Cập nhật thông tin cá nhân của bạn<br />
            Bạn có thể cập nhật thông tin cá nhân của mình bất cứ lúc nào bằng cách truy cập tài khoản của bạn trên trang web của LTSAution.<br />

            Bảo mật thông tin cá nhân của bạn<br />
            LTSAution đảm bảo rằng tất cả thông tin thu thập sẽ được lưu trữ an toàn và bảo mật. Chúng tôi bảo vệ thông tin cá nhân của bạn bằng cách:<br />
            Hạn chế quyền truy cập vào thông tin cá nhân<br />
            Duy trì các sản phẩm công nghệ để ngăn chặn truy cập máy tính trái phép Phá<br />
            hủy an toàn thông tin cá nhân của bạn khi không còn cần thiết cho mục đích lưu giữ hồ sơ của chúng tôi<br />
            LTSAution sử dụng công nghệ mã hóa SSL 128 bit (lớp ổ cắm bảo mật) khi xử lý chi tiết tài chính của bạn.<br />
            Mã hóa SSL 128 bit xấp xỉ mất ít nhất một nghìn tỷ năm để phá vỡ và là tiêu chuẩn công nghiệp.<br />


            Tiết lộ thông tin cá nhân<br />

            Chúng tôi sẽ không chia sẻ thông tin của bạn với bất kỳ tổ chức nào khác ngoài các công ty liên quan, các công ty chị em và các bên thứ ba liên quan trực tiếp đến việc giao các sản phẩm bạn đã mua từ trang web của LTSAution. Trong trường hợp đặc biệt,<br />
            LTSAution có thể được yêu cầu tiết lộ thông tin cá nhân, chẳng hạn như khi có cơ sở để tin rằng việc tiết lộ là cần thiết để ngăn chặn mối đe dọa đến tính mạng hoặc sức khỏe hoặc cho các mục đích thực thi pháp luật.<br />
            LTSAution cam kết tuân thủ Đạo luật quyền riêng tư và các nguyên tắc bảo mật quốc gia.<br />
            Tuy nhiên, chúng tôi có thể sử dụng thông tin liên lạc của bạn để gửi các bản tin từ chúng tôi và từ các công ty liên quan của chúng tôi.<br />

            Nếu bạn tin rằng quyền riêng tư của bạn đã bị vi phạm bởi LTSAution, vui lòng liên hệ với chúng tôi tại support@LTSAution.com và chúng tôi sẽ giải quyết vấn đề.<br />

            Thu thập dữ liệu máy tính
            Khi bạn truy cập LTSAution, các máy chủ của công ty chúng tôi sẽ tự động ghi lại thông tin mà trình duyệt của bạn gửi bất cứ khi nào bạn truy cập trang web. Dữ liệu này có thể bao gồm:<br />
            Địa chỉ IP của máy tính của bạn<br />
            Loại<br />
            trang web bạn đang truy cập trước khi bạn truy cập trang web của chúng tôi<br />
            Các trang có trong LTSAution bạn truy cập<br />
            Thời gian dành cho các trang, mục và thông tin được tìm kiếm trên trang web của chúng tôi, thời gian truy cập và ngày, và thống kê khác.<br />
            Thông tin này được thu thập để phân tích và đánh giá nhằm giúp chúng tôi cải thiện trang web của mình cũng như các dịch vụ và sản phẩm chúng tôi cung cấp. Dữ liệu này sẽ không được sử dụng cùng với bất kỳ thông tin cá nhân nào khác.<br />


            Thay đổi chính sách bảo mật<br />
            LTSAution có quyền sửa đổi và thay đổi Tuyên bố quyền riêng tư bất cứ lúc nào. Mọi thay đổi đối với chính sách này sẽ được công bố trên trang web của chúng tôi.<br />

            Khiếu nại về vi phạm quyền riêng tư<br />
            Nếu bạn không hài lòng với cách chúng tôi xử lý yêu cầu hoặc khiếu nại của bạn, xin vui lòng liên hệ với chúng tôi tại support@LTSAution.com<br />
        </p>
    </div>
</div>
</body>
</html>