<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="../javascripts/bootstrap.min.css">
    <script src="../javascripts/jquery.min.js"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
    <style type="text/css">
        body{
            margin: 0px auto;
            padding: 0px;
            margin-left: 10px;
        }
        article {
            width: 60%;
            height: auto;
            float: right;
            margin-top: 20px;
            margin-right: 58px;
        }
        .carousel-inner{
            width: 100%;
            height: 400px;
        }
    </style>
</head>
<article>
    <div id="myslider" class="carousel slide" data-ride="carousel" style="border: 1px solid gray">
        <ol class="carousel-indicators">
            <li data-target="#myslider" data-slide-to="0" class="active"></li>
            <li data-target="#myslider" data-slide-to="1"></li>
            <li data-target="#myslider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active">
                <img src="images/a.jpg" width="100%" height="100%">
            </div>
            <div class="item">
                <img src="images/b.png" width="100%">
            </div>
            <div class="item">
                <img src="images/c.jpg" width="100%">
            </div>
        </div>
        <a class="left carousel-control" href="#myslider" role="button"
           data-slide="prev"> <i class="fa fa-chevron-left"
                                 aria-hidden="true"></i>
        </a> <a class="right carousel-control" href="#myslider" role="button"
                data-slide="next"> <i class="fa fa-chevron-right"
                                      aria-hidden="true"></i>
        </a>
    </div>
</article>