<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="../javascripts/bootstrap.min.css">
    <script src="../javascripts/jquery.min.js"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
    <style type="text/css">
        body{
            margin: 0px auto;
            padding: 0px;
            margin-left: 10px;
        }
        aside {
            width: 35%;
            height: auto;
            float: left;
            margin-top: 20px;
        }
        aside a {
            font-size: 15px;
            color: black;
        }
        aside a:hover{
            font-size: 17px;
            color: black;
        }
    </style>
</head>
<aside>
    <div class="panel panel-default">
        <div class="panel-body"><a href="#">Thiết bị thông minh</a></div>
        <div class="panel-body"><a href="#">Thời trang cao cấp</a></div>
        <div class="panel-body"><a href="#">Điện lạnh, máy gia dụng</a></div>
        <div class="panel-body"><a href="#">Máy tính, laptop</a></div>
    </div>
</aside>