<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="../javascripts/bootstrap.min.css">
    <script src="../javascripts/jquery.min.js"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
    <style type="text/css">
        body{
            margin: 0px auto;
            padding: 0px;
            margin-left: 10px;
        }
        aside {
            width: 35%;
            height: auto;
            float: left;
            margin-top: 20px;
        }
        aside a {
            font-size: 15px;
            color: black;
        }
        aside a:hover{
            font-size: 17px;
            color: black;
        }
    </style>
</head>
<aside>
    <div class="panel panel-default" style="height: 400px">
        <div class="panel-body" style="font-weight: bold"><a href="../Detail2">Bộ 10 con Diode</a></div>
        <div class="panel-body" style="font-weight: bold"><a href="#">Mainboard Gigabyte MW51-HP0</a></div>
        <div class="panel-body" style="font-weight: bold"><a href="#">PC HNC Professional Gaming P1</a></div>
        <div class="panel-body" style="font-weight: bold"><a href="#">Đồng hồ vạn năng</a></div>
        <div class="panel-body" style="font-weight: bold"><a href="#">Bộ Máy Khoan, Mài Mini Đa Năng Cầm Tay - Khoan Hộp Đỏ  </a></div>
        <div class="panel-body" style="font-weight: bold"><a href="#">Mainboard Gigabyte MW51-HP0</a></div>
        <div class="panel-body" style="font-weight: bold"><a href="#">Đầu Kẹp Mũi Khoan Mini Trục </a></div>
    </div>
</aside>