<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="../javascripts/bootstrap.min.css">
    <script src="../javascripts/jquery.min.js"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
    <style type="text/css">
        body{
            margin: 0px auto;
            padding: 0px;
            margin-left: 10px;
        }
        footer{
            margin-top: 50px;
            width: 100%;
            height: 200px;
            background-color: #204d74;
            float: left;
        }

    </style>
</head>
<footer>
    <div class="container" style="border-bottom: 2px solid white">
        <div class="col-md-4" style="border-right: 1px solid white;height: 150px">
            <p style="font-size: 15px;color: white;margin-top: 10px"><img src="../images/hear.png" width="20px" height="20px"> &emsp; Địa chỉ: 15 Nguyễn Văn Bảo p5 Gò Vấp</p>
            <p style="font-size: 15px;color: white;margin-top: 10px"><img src="../images/call.png" width="20px" height="20px"> &emsp; Điện thoại: 098457474</p>
            <p style="font-size: 15px;color: white;margin-top: 10px"><img src="../images/mail.png" width="20px" height="20px"> &emsp; Mail: ltsaution@gmail.com</p>
            <p style="font-size: 15px;color: white;margin-top: 10px"><img src="../images/time.png" width="20px" height="20px"> &emsp; Thời Gian : 8:00 đến 21:00 từ thứ 2 đến thứ 7</p>
        </div>
        <div class="col-md-4">
            <h3 style="color: white">Liên Kết Nhanh</h3>
            <a href="#" style="font-size: 15px;color: white;margin-top: 10px"><img src="../images/arrow.png" width="20px" height="20px">&nbsp;Giới Thiệu</a> <br />
            <a href="#" style="font-size: 15px;color: white;margin-top: 10px"><img src="../images/arrow.png" width="20px" height="20px">&nbsp;Dịch Vụ</a> <br />
            <a href="#" style="font-size: 15px;color: white;margin-top: 10px"><img src="../images/arrow.png" width="20px" height="20px">&nbsp;Tin Tức</a>
        </div>
        <div class="col-md-4" style="border-left: 1px solid white;height: 150px">
            <img src="../images/logo_2.png" width="400px" height="100%" style="margin-top: 10px" align="center">
        </div>
    </div>
    <h6 style="color: #8a6d3b;text-align: center">2019. Sàn đấu giá trực tuyến thuộc Sở Công thương Thành phố Hồ Chí Minh</h6>
</footer>