<head>
    <link rel='stylesheet' href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="../javascripts/bootstrap.min.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <style type="text/css">
        body{
            margin: 0px auto;
            padding: 0px;
            margin-left: 10px;
        }
        #head_1 {
            width: 100%;
            height: 55px;
            background-color: #5bc0de;
        }

        #head_1 li {
            display: inline-block;
            float: right;
            margin-right: 20px;
            margin-top: 10px;
            color: white;
        }
        #head_1 li a {
            color: white;
            font-weight: bold;
            display: inline;
        }
        #head_2{
            width: 100%;
            height: 100px;
            margin-top: 10px;
            background-color: white;
        }
    </style>
    <script>
        function evt_Check() {
            var cbox = document.getElementById("check");
            if(cbox.checked){
                document.getElementById("errCheck").innerText="";
                return true;
            }else{
                document.getElementById("errCheck").innerHTML = "<br /> <i>Bạn phải đồng ý điều khoản của chúng tôi trước khi đăng ký</i>";
                document.getElementById("errCheck").style.color ="red";
                return false;
            }
        }
        function kiemtraDiaChi() {
            var re = /^[A-Za-z0-9\s]/;
            var diachi = document.getElementById("diachi").value.trim();
            var err = document.getElementById("errDC");
            if (!re.test(diachi))
            {
                err.innerHTML = "<br /> <i> Địa chỉ không hợp lệ</i>";
                err.style.color="red";
                return false;
            }
            else
            {
                err.innerText = "";
                return true;
            }
        }
        function kiemtraPassXN() {
            var password = document.getElementById("passDK").value.trim();
            var repassword = document.getElementById("re_pwd").value.trim();
            var err = document.getElementById("errPwdXN");
            if (repassword!=password)
            {
                err.innerHTML = "<br /> <i>Mật khẩu không trùng khớp</i>";
                err.style.color="red";
                return false;
            }
            else
            {
                err.innerText = "";
                return true;
            }
        }
        function kiemtraPassDK() {
            var re = /[0-9]{8,20}/;
            var password = document.getElementById("passDK").value.trim();
            var err = document.getElementById("errPwdDK");
            if (!re.test(password))
            {
                err.innerHTML = "<br /> <i>Mật khẩu là 1 dãy số 8-20 số.</i>";
                err.style.color="red";
                return false;
            }
            else
            {
                err.innerText = "";
                return true;
            }
        }
        function kiemtraEmail() {
            var email = document.getElementById("mail").value.trim();
            var re = /^([a-z0-9_\.-]+)@([\da-z\.-]+)\.com$/;
            var err = document.getElementById("errMail");
            if(!re.test(email)){
                err.innerHTML = "<br /> <i>Email phải dưới dạng ...@gmail.com</i>";
                err.style.color="red";
                return false;
            }
            else{
                err.innerHTML = "";
                err.style.color="white";
                return true;
            }
        }
        function kiemtraTenDK() {
            var tend = document.getElementById("tendk").value.trim();
            var re = /^[A-Z a-z]{5,50}$/;
            var err = document.getElementById("errtenDK");
            if(!re.test(tend)){
                err.innerHTML = "<br /> <i>Tên đăng nhập là kí tự chữ và không quá 50 từ kí tự </i>";
                err.style.color="red";
                return false;
            }
            else{
                err.innerHTML = "";
                err.style.color="white";
                return true;
            }
        }
        function kiemtraTenDN(){
            var tendn = document.getElementById("ten").value.trim();
            var re = /^[A-Z a-z]{5,50}$/;
            var err = document.getElementById("errTen");
            if(!re.test(tendn)){
                err.innerHTML = "<br /> <i>Tên đăng nhập là kí tự chữ và không quá 50 kí tự </i>";
                err.style.color="red";
                return false;
            }else {
                document.getElementById("errTen").innerHTML = "";
                err.style.color="white";
                return true;
            }
        }
        function kiemtraMatKhau()
        {
            var re = /[0-9]{8,20}/;
            var password = document.getElementById("pwd").value.trim();
            var err = document.getElementById("errPwd");
            if (!re.test(password))
            {
                err.innerHTML = "<br /> <i>Mật khẩu là 1 dãy số 8-20 số.</i>";
                err.style.color="red";
                return false;
            }
            else
            {
                err.innerText = "";
                return true;
            }
        }

        function errAll_DK() {
            if(kiemtraTenDK()==false || kiemtraEmail() == false || kiemtraPassDK()==false || kiemtraPassXN()==false ||kiemtraDiaChi()==false || evt_Check()==false){
                alert("Bạn hãy hoàn thành thông tin đăng ký");
            }else{
                alert("");
            }
        }
        function errAll_DN() {
            if(kiemtraTenDN()==false||kiemtraMatKhau()==false){
                alert("Bạn hãy hoàn thành thông tin đăng nhập");
            }else{
                alert("");
            }
        }
    </script>
</head>
<header id="head_1">
    <marquee width="70%"><p style="font-size: 17px;color: white;margin-top: 12px;font-family:'Comic Sans MS'">LTS Aution
            Mang Đến Sự An Tâm Tuyệt Đối</p></marquee>
    <img src="../images/flag.png" width="35px" height="35px" style="float: left;margin-top: 7px;margin-left: 10px">
    <li style="margin-top: 15px;"><a href="#" data-toggle="modal" data-target="#Modal_DN"><img src="../images/lock.png"
                                                                                               width="20px"
                                                                                               height="20px">&nbsp;<span id="dnhap">Đăng
            Nhập</span></a></li>
    <li style="margin-top: 15px;"><a href="#" data-toggle="modal" data-target="#Modal_DK"><img src="../images/star.png"
                                                                                               width="20px"
                                                                                               height="20px">&nbsp;Đăng
            Ký</a></li>
    <li>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Modal_DN">Đăng Bài</button>
    </li>
    <div class="modal fade" id="Modal_DN" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" style="background-color: #f8f8f8">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="color: gray">Đăng Nhập</h4>
                </div>
                <div class="modal-body">
                    <form action="">
                        <div class="form-group">
                            <label for="ten">Tên Đăng Nhập</label>
                            <input type="text" class="form-control" id="ten" required="required" onblur="kiemtraTenDN()">
                            <span id="errTen"></span>
                        </div>
                        <div class="form-group">
                            <label for="pwd">Mật Khẩu</label>
                            <input type="password" class="form-control" required="required" onblur="kiemtraMatKhau()" id="pwd">
                            <span id="errPwd"></span>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"> Nhớ mật khẩu</label>
                        </div>
                        <button type="submit" onclick="errAll_DN()" class="btn btn-primary" style="width: 100%">Đăng Nhập</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="Modal_DK" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" style="background-color: #f8f8f8">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="color: gray">Đăng Ký Tài Khoản Mới</h4>
                </div>
                <div class="modal-body">
                    <form action="">
                        <div class="form-group">
                            <label for="ten">Tên Đăng Nhập</label>
                            <input type="text" class="form-control" id="tendk" onblur="kiemtraTenDK()" required="required" placeholder="Nhập tên truy cập">
                            <span id="errtenDK"></span>
                        </div>
                        <div class="form-group">
                            <label for="mail">Email</label>
                            <input type="email" class="form-control" id="mail" onblur="kiemtraEmail()" required="required" placeholder="Nhập mail">
                            <span id="errMail"></span>
                        </div>
                        <div class="form-group">
                            <label for="pwd">Mật Khẩu</label>
                            <input type="password" class="form-control" id="passDK" onblur="kiemtraPassDK()" required="required" placeholder="Nhập vào mật khẩu">
                            <span id="errPwdDK"></span>
                        </div>
                        <div class="form-group">
                            <label for="re_pwd">Xác Nhận Mật Khẩu</label>
                            <input type="password" class="form-control" id="re_pwd" onblur="kiemtraPassXN()" required="required" placeholder="Nhập lại mật khẩu">
                            <span id="errPwdXN"></span>
                        </div>
                        <div class="form-group">
                            <label for="diachi">Địa Chỉ</label>
                            <input type="text" class="form-control" id="diachi" required="required" onblur="kiemtraDiaChi()" placeholder="Nhập vào địa chỉ">
                            <span id="errDC"></span>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox" id="check" value="1"> Đồng ý với điều khoản của chúng tôi</label>
                            <span id="errCheck"></span>
                        </div>
                        <button type="submit" onclick="errAll_DK()" return ="false" class="btn btn-primary"  style="width: 100%">Đăng Ký</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</header>
<header id="head_2">
    <a href="../"><img src="../images/logo.png" width="100%" height="150px"></a>
</header>