<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="../javascripts/bootstrap.min.css">
    <script src="../javascripts/jquery.min.js"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
    <style type="text/css">
        body{
            margin: 0px auto;
            padding: 0px;
            margin-left: 10px;
        }
        #head_1 {
            width: 100%;
            height: 55px;
            background-color: #5bc0de;
        }

        #head_1 li {
            display: inline-block;
            float: right;
            margin-right: 20px;
            margin-top: 10px;
            color: white;
        }
        #head_1 li a {
            color: white;
            font-weight: bold;
            display: inline;
        }
        #head_2{
            width: 100%;
            height: 100px;
            margin-top: 10px;
            background-color: white;
        }
    </style>
</head>
<header id="head_1">
    <marquee width="70%"><p style="font-size: 17px;color: white;margin-top: 12px;font-family:'Comic Sans MS'">LTS Aution
            Mang Đến Sự An Tâm Tuyệt Đối</p></marquee>
    <img src="../images/flag.png" width="35px" height="35px" style="float: left;margin-top: 7px;margin-left: 10px">
    <li style="margin-top: 15px;"><a href="#" data-toggle="modal" data-target="#Modal_DN"><img src="../images/lock.png"
                                                                                               width="20px"
                                                                                               height="20px">&nbsp;<span id="dnhap">Đăng
            Nhập</span></a></li>
    <li style="margin-top: 15px;"><a href="#" data-toggle="modal" data-target="#Modal_DK"><img src="../images/star.png"
                                                                                               width="20px"
                                                                                               height="20px">&nbsp;Đăng
            Ký</a></li>
    <!--<li>-->
        <!--<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Modal_DN">Đăng Bài</button>-->
    <!--</li>-->
    <div class="modal fade" id="Modal_DN" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" style="background-color: #f8f8f8">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="color: gray">Đăng Nhập</h4>
                </div>
                <div class="modal-body">
                    <form action="">
                        <div class="form-group">
                            <label for="ten">Tên Đăng Nhập</label>
                            <input type="text" class="form-control" id="ten">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Mật Khẩu</label>
                            <input type="password" class="form-control" id="pwd">
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"> Nhớ mật khẩu</label>
                        </div>
                        <button type="submit" onclick="dangNhap()" class="btn btn-primary" style="width: 100%">Đăng Nhập</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="Modal_DK" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content" style="background-color: #f8f8f8">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="color: gray">Đăng Ký Tài Khoản Mới</h4>
                </div>
                <div class="modal-body">
                    <form action="">
                        <div class="form-group">
                            <label for="ten">Tên Đăng Nhập</label>
                            <input type="text" class="form-control" id="ten" placeholder="Nhập tên truy cập">
                        </div>
                        <div class="form-group">
                            <label for="mail">Email</label>
                            <input type="email" class="form-control" id="mail" placeholder="Nhập mail">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Mật Khẩu</label>
                            <input type="password" class="form-control" id="pwd" placeholder="Nhập vào mật khẩu">
                        </div>
                        <div class="form-group">
                            <label for="re_pwd">Xác Nhận Mật Khẩu</label>
                            <input type="password" class="form-control" id="re_pwd" placeholder="Nhập lại mật khẩu">
                        </div>
                        <div class="form-group">
                            <label for="diachi">Địa Chỉ</label>
                            <input type="text" class="form-control" id="diachi" placeholder="Nhập vào địa chỉ">
                        </div>
                        <button type="submit" onclick="alert('Đăng ký thành công!')" class="btn btn-primary" style="width: 100%">Đăng Ký</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <script>
        function dangNhap() {
            var result = confirm("Đăng nhập thành công");
            if(result){
                document.getElementById("dnhap").innerText = "MinhThien333";
            }else {
                finish();
            }
        }
    </script>
</header>
<header id="head_2">
    <a href="../"><img src="../images/logo.png" width="100%" height="150px"></a>
</header>