<head>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="stylesheet" href="../javascripts/bootstrap.min.css">
    <script src="../javascripts/jquery.min.js"></script>
    <script src="../javascripts/bootstrap.min.js"></script>
    <style type="text/css">
        body{
            margin: 0px auto;
            padding: 0px;
            margin-left: 10px;
        }
        nav {
            width: 100%;
            height: 30px;
            margin-top: 45px;
        }
        .container-fluid{
            background-color: #00B7FF;
        }


        #na ul li a{
            font-size: 17px;
            color: white;
        }
        #na ul li a:hover{
            color:black;
        }
        #f_search{
            float: left;
        }
    </style>
</head>
<nav id="na">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a href="../">Trang Chủ</a></li>
                <li><a href="../Computer_Product">Máy Tính</a></li>
                <li><a href="../Accessories_Computer">Linh Kiện Máy Tính</a></li>
                <li><a href="../Elec_Component">Linh Kiện Điện Tử</a></li>
            </ul>
            <form class="navbar-form navbar-left" id="f_search" action="/action_page.php">
                <div class="form-group">
                    &emsp;<input type="text" class="form-control" placeholder="Hãy nhập gì đó ... ">
                </div>
                <button type="submit" class="btn btn-danger">Tìm Kiếm</button> &emsp;
                <img src="../images/cart.png" width="22px" height="22px"><a href="../MyCart" style="font-size: 17px;color: white;font-weight: bold">&nbsp;Giỏ Hàng</a> &emsp;
                <img src="../images/hammer.png" width="22px" height="22px"><a href="../MyAution" style="font-size: 17px;color: white;font-weight: bold">&nbsp;Đấu Giá Của Tôi</a>
            </form>
        </div>
    </nav>
</nav>